* {
  box-sizing: border-box;
}

.gradient {
  font-family: cursive;
  color: rgba(3, 43, 67, 1);
  margin-top: -10px;
  background: linear-gradient(90deg, rgba(61, 178, 210, 1) 25%, rgba(255, 255, 255, 1) 55%);
}

.container-register {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.greetings-register {
  position: absolute;
  font-size: 25px;
  margin-top: 80px;
  margin-left: 330px;
  text-align: center;
  max-width: 100%;
  display: block;
  height: auto;
  font-style: normal;
}

.register-image {
  max-width: 100%;
  display: block;
  height: auto;
  margin-left: 210px;
  margin-top: -550px;
  position: absolute;
}

.register-box {
  margin-top: 40px;
  margin-bottom: 130px;
  margin-left: 550px;
  flex-basis: 500px;
  background: #fff;
  padding: 50px;
  box-shadow: 5px 5px 10px 10px rgba(0, 0, 0, 0.25);
  border-radius: 50px;
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: center;
  max-width: 500px;
  margin-bottom: 80px;
}

.register-box h2 {
  color: #d00000;
  text-align: center;
  padding-bottom: 20px;
  margin: 0 0 20px;
}

input,
select {
  width: 100%;
  padding: 15px 20px;
  margin: 8px 0;
  border: 1px solid #ffba08;
  border-radius: 20px;
}

button[type='submit'] {
  background-color: #ffba08;
  color: black;
  text-decoration: none;
  cursor: pointer;
  border-radius: 20px;
  padding: 10px;
  padding-bottom: 10px;
  margin-top: 80px;
  font-size: 24px;
  border: none;
  outline: none;
  width: 60%;
  margin-left: 20%;
}

.signuplink {
  margin-top: 20px;
  margin-bottom: 20px;
  text-align: center;
}

.Create-Account {
  color: red;
  text-decoration: none;
}

.login-form-error {
  position: fixed;
  color: red;
}