@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600;700;800;900&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Mali:ital,wght@0,600;1,600&display=swap');
* {
  padding: 0;
  margin: 0;         
  box-sizing: border-box;
}
.up-icon{
	position: fixed;
	width: 50px;
	height: 50px;
	border-radius: 50%;
	bottom: 40px;
	right: 50px;
	text-decoration: none;
	text-align: center;
	line-height: 50px;
	color:#ffffff;
}
.fa-chevron-circle-up{
  font-size: 
  30px;line-height: 
  50px;color:#000000;
}
body {
  font-family: "Mali", sans-serif;
}
/*------------Globa----------*/
.container {
  max-width: 80%;
  margin: auto;
}
.flex {
  display: flex;
  justify-content: space-between;
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
  color: #000;
}